[defaults]
host_key_checking = False
interpreter_python = /usr/bin/python3
collections_paths = collections/
# inventory = inventory/hosts.ini
vault_password_file=~/.vault_pass.txt
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ForwardAgent=yes
control_path = ~/.ansible/cp/ansible-%%r@%%h:%%p
pipelining = False
retries = 30
[sudo_become_plugin]
flags = -H -E -S -n


